In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [19]:
pdf = pd.read_csv("dataset.csv")

In [20]:
pdf[:10]

,Unnamed: 0,CardHolder,age,cheque_count_12m_g20,cheque_count_12m_g21,cheque_count_12m_g25,cheque_count_12m_g32,cheque_count_12m_g33,cheque_count_12m_g38,cheque_count_12m_g39,...,sale_sum_6m_g24,sale_sum_6m_g25,sale_sum_6m_g26,sale_sum_6m_g32,sale_sum_6m_g33,sale_sum_6m_g44,sale_sum_6m_g54,stdev_days_between_visits_15d,stdev_discount_depth_15d,stdev_discount_depth_1m
0,0,16095858,47.0,3.0,22.0,19.0,3.0,28.0,8.0,7.0,...,3141.25,356.67,237.25,283.84,3648.23,1195.37,535.42,1.7078,0.2798,0.3008
1,1,15906620,57.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,...,113.39,62.69,58.71,87.01,179.83,0.00,122.98,0.0000,0.0000,0.0000
2,2,16495466,38.0,7.0,0.0,15.0,4.0,9.0,5.0,9.0,...,1239.19,533.46,83.37,593.13,1217.43,1336.83,3709.82,0.0000,0.0000,0.0803
3,3,16570217,65.0,6.0,3.0,25.0,2.0,10.0,14.0,11.0,...,139.68,1849.91,360.40,175.73,496.73,172.58,1246.21,0.0000,0.0000,0.0000
4,4,16346871,61.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,...,226.98,168.05,461.37,0.00,237.93,225.51,995.27,1.4142,0.3495,0.3495
5,5,15692946,27.0,0.0,0.0,7.0,0.0,2.0,1.0,0.0,...,10.90,379.43,90.07,0.00,239.39,114.48,209.34,3.0957,0.0584,0.1171
6,6,16536055,57.0,1.0,3.0,0.0,0.0,0.0,1.0,2.0,...,361.89,0.00,287.61,0.00,0.00,55.42,96.60,0.0000,0.0000,0.0000
7,7,16388254,32.0,1.0,5.0,7.0,1.0,6.0,2.0,4.0,...,825.75,19.19,195.98,0.00,343.24,73.78,100.37,0.0000,0.0000,0.0000
8,8,16406288,69.0,1.0,1.0,5.0,0.0,1.0,0.0,0.0,...,1218.97,166.49,408.97,0.00,115.93,329.43,0.00,0.0000,0.0000,0.0000
9,9,15779982,36.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,491.43,411.23,0.00,0.00,406.45,43.00,0.00,0.0000,0.0000,0.0000

In [21]:
group_column = "group"
target_column = "response_att"

test_value = 1
control_value = 0

In [22]:
def calc_corr(a, b):
    avg_a = np.mean(a)
    avg_b = np.mean(b)
    
    a_sub_avg = a - avg_a
    b_sub_avg = b - avg_b
    
    numerator = np.sum(a_sub_avg * b_sub_avg)
    
    denominator = (np.sum(a_sub_avg ** 2) * np.sum(b_sub_avg ** 2)) ** 0.5
    
    return numerator / denominator

In [23]:
def features_order(df, n_sections):
    column_df = pd.DataFrame()
    
    column_df["column_name"] = list(df)
    
    correlations = []
    
    target = df["response_att"]
    
    for i, row in column_df.iterrows():
        column_name = row["column_name"]
        
        corr = calc_corr(target, df[column_name])
        
        correlations.append(abs(corr))
        
    column_df["corr"] = correlations
    
    return column_df

In [24]:
column_df = features_order(pdf, 150)

In [25]:
column_df.sort_values(by="corr", inplace=True, ascending=False)

In [26]:
pd.set_option('display.max_rows', 500)

In [28]:
list(column_df['column_name'][:25])

['response_att',
 'k_var_days_between_visits_15d',
 'k_var_days_between_visits_1m',
 'k_var_disc_per_cheque_15d',
 'cheque_count_12m_g41',
 'cheque_count_6m_g41',
 'cheque_count_6m_g32',
 'cheque_count_6m_g48',
 'cheque_count_6m_g40',
 'cheque_count_12m_g46',
 'k_var_cheque_15d',
 'cheque_count_6m_g46',
 'cheque_count_12m_g48',
 'cheque_count_6m_g33',
 'cheque_count_12m_g32',
 'cheque_count_12m_g33',
 'cheque_count_12m_g38',
 'cheque_count_6m_g38',
 'stdev_discount_depth_15d',
 'k_var_sku_per_cheque_15d',
 'k_var_cheque_category_width_15d',
 'cheque_count_6m_g25',
 'cheque_count_12m_g25',
 'k_var_disc_share_3m_g24',
 'k_var_cheque_group_width_15d']